body{
    background: darkseagreen;
}

.container{
    margin-top: 12%;
}
.single-content{
    position: relative;
    transition: .3s;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, .8);
}
.single-content .text-content,
.single-content:after{
position: absolute;
left: 20px;
right: 20px;
}
.single-content:after{
    content: '';
    display: block;
    background: crimson;
    top: 20px;
    bottom: 20px;
    opacity: 0;
    transform: rotate3d(-1,1,0,100deg);
    transition: .4s;
}
.single-content:hover:after{
    opacity: .9;
    transform: rotate3d(0,0,0,0deg);
}
.single-content img{
    width: 100%;
    height: auto;
}
.text-content{
    top: 95px;
    opacity: 0;
    z-index: 1;
    transform: translate(10%,-30%);
    transition: .3s;
    text-align: center;
    color: green;
}
.text-content h4{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif';
}
.single-content:hover .text-content{
    opacity: 1;
    transform: translate(0,-50%);
    transition-delay: .3s;
}