/* Pop-pup */
body{margin:0px;position: relative;}body.pop-up{background: #222;}
*{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: normal; color: #333;}
h1{font-size: 48px;margin: 10px 0;}
p{margin-bottom: 40px;}
#pop-up{
    position: relative;
    top: 200px;
    width: 500px;
    margin: 0px auto;
    text-align: center;
}
#pop-up .container{
    background: #f0e4d4;
    padding: 30px;
    position: absolute;
    top: 50px;    
    width: 100;
    box-sizing: border-box;
}
#pop-up input{
    padding: 10px;
    border: 0px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #333;
    font-size: 18px;
}
button{
    padding: 10px;
    border: 0px;
    color: #fff;
    margin-left: -5px;
    background: #333;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid #333;
    font-size: 18px;
}
.cross{
    position: absolute;
    top: 3px;
    left: 10px;
    background: #333;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    height: 22px;
    width: 22px;
}
/* Fin creation du pop-up */
#pop-up{
    transform-origin: 30px 30px;
    top: -400px;
    animation: fall 1s ease forwards, rotate .9s 2s ease forwards;
}
@keyframes fall{
    0%{opacity: 0;}
    80%{transform: translateY(550px);}
    100%{transform: translateY(500px);opacity: 1;}
}
@keyframes rotate{
    0%{transform: translateY(500px) rotate(0deg);}
    70%{transform:  translateY(500px) rotate(90deg);}
    85%{transform: translateY(500px) rotate(70deg);}
    100%{transform: translateY(500px) rotate(75deg);}
}